<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ekgc.medical.clinic.clinicemr.dao.ClinicAdviceDao">
	<select id="findListByQuery" parameterType="ClinicAdvice" resultMap="resultMap">
		select
		    eca.id
		    eca.clinic
		    eca.beginTime
		    eca.endTime
		    eca.execTime
		    eca.execTimeCatCode
		    eca.cancelTime
		    eca.adviceCat
		    eca.adviceDetail
		    eca.status
		    eca.createAdmin
		    eca.createTime
		    eca.updateAdmin
		    eca.updateTime
		from
			emr_clinic_advice eca
		<where>
			<trim suffixOverrides="and">
                <if test="id != null and id != ''">eca.id=#{id} and </if>
                <if test="clinic != null and clinic != ''">eca.clinic=#{clinic} and </if>
                <if test="beginTime != null and beginTime != ''">eca.beginTime=#{beginTime} and </if>
                <if test="endTime != null and endTime != ''">eca.endTime=#{endTime} and </if>
                <if test="execTime != null and execTime != ''">eca.execTime=#{execTime} and </if>
                <if test="execTimeCatCode != null and execTimeCatCode != ''">eca.execTimeCatCode=#{execTimeCatCode} and </if>
                <if test="cancelTime != null and cancelTime != ''">eca.cancelTime=#{cancelTime} and </if>
                <if test="adviceCat != null and adviceCat != ''">eca.adviceCat=#{adviceCat} and </if>
                <if test="adviceDetail != null and adviceDetail != ''">eca.adviceDetail=#{adviceDetail} and </if>
                <if test="status != null and status != ''">eca.status=#{status} and </if>
			</trim>
		</where>
	</select>

	<insert id="save" parameterType="ClinicAdvice">
		insert into emr_clinic_advice(
			<trim suffixOverrides=",">
		        <if test="id != null and id != ''">id, </if>
		        <if test="clinic != null and clinic != ''">clinic, </if>
		        <if test="beginTime != null and beginTime != ''">beginTime, </if>
		        <if test="endTime != null and endTime != ''">endTime, </if>
		        <if test="execTime != null and execTime != ''">execTime, </if>
		        <if test="execTimeCatCode != null and execTimeCatCode != ''">execTimeCatCode, </if>
		        <if test="cancelTime != null and cancelTime != ''">cancelTime, </if>
		        <if test="adviceCat != null and adviceCat != ''">adviceCat, </if>
		        <if test="adviceDetail != null and adviceDetail != ''">adviceDetail, </if>
		        <if test="status != null and status != ''">status, </if>
		        <if test="createAdmin != null and createAdmin != ''">createAdmin, </if>
		        <if test="createTime != null and createTime != ''">createTime, </if>
		        <if test="updateAdmin != null and updateAdmin != ''">updateAdmin, </if>
		        <if test="updateTime != null and updateTime != ''">updateTime, </if>
			</trim>
		) values(
			<trim suffixOverrides=",">
				<if test="id != null and id != ''">#{id}, </if>
				<if test="clinic != null and clinic != ''">#{clinic}, </if>
				<if test="beginTime != null and beginTime != ''">#{beginTime}, </if>
				<if test="endTime != null and endTime != ''">#{endTime}, </if>
				<if test="execTime != null and execTime != ''">#{execTime}, </if>
				<if test="execTimeCatCode != null and execTimeCatCode != ''">#{execTimeCatCode}, </if>
				<if test="cancelTime != null and cancelTime != ''">#{cancelTime}, </if>
				<if test="adviceCat != null and adviceCat != ''">#{adviceCat}, </if>
				<if test="adviceDetail != null and adviceDetail != ''">#{adviceDetail}, </if>
				<if test="status != null and status != ''">#{status}, </if>
				<if test="createAdmin != null and createAdmin != ''">#{createAdmin}, </if>
				<if test="createTime != null and createTime != ''">#{createTime}, </if>
				<if test="updateAdmin != null and updateAdmin != ''">#{updateAdmin}, </if>
				<if test="updateTime != null and updateTime != ''">#{updateTime}, </if>
			</trim>
		)
	</insert>

	<update id="update" parameterType="ClinicAdvice">
		update emr_clinic_advice
		<set>
			<trim suffixOverrides=",">
				<if test="id != null and id != ''">id=#{id}, </if>
				<if test="clinic != null and clinic != ''">clinic=#{clinic}, </if>
				<if test="beginTime != null and beginTime != ''">beginTime=#{beginTime}, </if>
				<if test="endTime != null and endTime != ''">endTime=#{endTime}, </if>
				<if test="execTime != null and execTime != ''">execTime=#{execTime}, </if>
				<if test="execTimeCatCode != null and execTimeCatCode != ''">execTimeCatCode=#{execTimeCatCode}, </if>
				<if test="cancelTime != null and cancelTime != ''">cancelTime=#{cancelTime}, </if>
				<if test="adviceCat != null and adviceCat != ''">adviceCat=#{adviceCat}, </if>
				<if test="adviceDetail != null and adviceDetail != ''">adviceDetail=#{adviceDetail}, </if>
				<if test="status != null and status != ''">status=#{status}, </if>
				<if test="createAdmin != null and createAdmin != ''">createAdmin=#{createAdmin}, </if>
				<if test="createTime != null and createTime != ''">createTime=#{createTime}, </if>
				<if test="updateAdmin != null and updateAdmin != ''">updateAdmin=#{updateAdmin}, </if>
				<if test="updateTime != null and updateTime != ''">updateTime=#{updateTime}, </if>
			</trim>
		</set>
		<where>
			<trim suffixOverrides="and">
				<if test="id != null and id != ''">id=#{id} and </if>
			</trim>
		</where>
	</update>

	<resultMap id="resultMap" type="ClinicAdvice">
		<id property="id" javaType="java.lang.String" column="id"/>
	    <result property="id" javaType="java.lang.String" column="id"/>
	    <result property="clinic" javaType="java.lang.String" column="clinic"/>
	    <result property="beginTime" javaType="java.lang.String" column="beginTime"/>
	    <result property="endTime" javaType="java.lang.String" column="endTime"/>
	    <result property="execTime" javaType="java.util.Date" column="execTime"/>
	    <result property="execTimeCatCode" javaType="java.util.Date" column="execTimeCatCode"/>
	    <result property="cancelTime" javaType="java.lang.String" column="cancelTime"/>
	    <result property="adviceCat" javaType="java.lang.String" column="adviceCat"/>
	    <result property="adviceDetail" javaType="java.lang.String" column="adviceDetail"/>
	    <result property="status" javaType="java.lang.String" column="status"/>
	    <result property="createAdmin" javaType="java.lang.String" column="createAdmin"/>
	    <result property="createTime" javaType="java.util.Date" column="createTime"/>
	    <result property="updateAdmin" javaType="java.lang.String" column="updateAdmin"/>
	    <result property="updateTime" javaType="java.util.Date" column="updateTime"/>
	</resultMap>
</mapper>