<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ekgc.medical.patient.allergy.dao.AllergyDao">
	<select id="findListByQuery" parameterType="Allergy" resultMap="resultMap">
		select
		    pa.id
		    pa.patient
		    pa.history
		    pa.allergen
		    pa.sx
		    pa.medicine
		    pa.allergyStatus
		    pa.serious
		    pa.sign
		    pa.status
		    pa.createAdmin
		    pa.createTime
		    pa.updateAdmin
		    pa.updateTime
		from
			patient_allergy pa
		<where>
			<trim suffixOverrides="and">
                <if test="id != null and id != ''">pa.id=#{id} and </if>
                <if test="patient != null and patient != ''">pa.patient=#{patient} and </if>
                <if test="history != null and history != ''">pa.history=#{history} and </if>
                <if test="allergen != null and allergen != ''">pa.allergen=#{allergen} and </if>
                <if test="sx != null and sx != ''">pa.sx=#{sx} and </if>
                <if test="medicine != null and medicine != ''">pa.medicine=#{medicine} and </if>
                <if test="allergyStatus != null and allergyStatus != ''">pa.allergyStatus=#{allergyStatus} and </if>
                <if test="serious != null and serious != ''">pa.serious=#{serious} and </if>
                <if test="sign != null and sign != ''">pa.sign=#{sign} and </if>
                <if test="status != null and status != ''">pa.status=#{status} and </if>
			</trim>
		</where>
	</select>

	<insert id="save" parameterType="Allergy">
		insert into patient_allergy(
			<trim suffixOverrides=",">
		        <if test="id != null and id != ''">id, </if>
		        <if test="patient != null and patient != ''">patient, </if>
		        <if test="history != null and history != ''">history, </if>
		        <if test="allergen != null and allergen != ''">allergen, </if>
		        <if test="sx != null and sx != ''">sx, </if>
		        <if test="medicine != null and medicine != ''">medicine, </if>
		        <if test="allergyStatus != null and allergyStatus != ''">allergyStatus, </if>
		        <if test="serious != null and serious != ''">serious, </if>
		        <if test="sign != null and sign != ''">sign, </if>
		        <if test="status != null and status != ''">status, </if>
		        <if test="createAdmin != null and createAdmin != ''">createAdmin, </if>
		        <if test="createTime != null and createTime != ''">createTime, </if>
		        <if test="updateAdmin != null and updateAdmin != ''">updateAdmin, </if>
		        <if test="updateTime != null and updateTime != ''">updateTime, </if>
			</trim>
		) values(
			<trim suffixOverrides=",">
				<if test="id != null and id != ''">#{id}, </if>
				<if test="patient != null and patient != ''">#{patient}, </if>
				<if test="history != null and history != ''">#{history}, </if>
				<if test="allergen != null and allergen != ''">#{allergen}, </if>
				<if test="sx != null and sx != ''">#{sx}, </if>
				<if test="medicine != null and medicine != ''">#{medicine}, </if>
				<if test="allergyStatus != null and allergyStatus != ''">#{allergyStatus}, </if>
				<if test="serious != null and serious != ''">#{serious}, </if>
				<if test="sign != null and sign != ''">#{sign}, </if>
				<if test="status != null and status != ''">#{status}, </if>
				<if test="createAdmin != null and createAdmin != ''">#{createAdmin}, </if>
				<if test="createTime != null and createTime != ''">#{createTime}, </if>
				<if test="updateAdmin != null and updateAdmin != ''">#{updateAdmin}, </if>
				<if test="updateTime != null and updateTime != ''">#{updateTime}, </if>
			</trim>
		)
	</insert>

	<update id="update" parameterType="Allergy">
		update patient_allergy
		<set>
			<trim suffixOverrides=",">
				<if test="id != null and id != ''">id=#{id}, </if>
				<if test="patient != null and patient != ''">patient=#{patient}, </if>
				<if test="history != null and history != ''">history=#{history}, </if>
				<if test="allergen != null and allergen != ''">allergen=#{allergen}, </if>
				<if test="sx != null and sx != ''">sx=#{sx}, </if>
				<if test="medicine != null and medicine != ''">medicine=#{medicine}, </if>
				<if test="allergyStatus != null and allergyStatus != ''">allergyStatus=#{allergyStatus}, </if>
				<if test="serious != null and serious != ''">serious=#{serious}, </if>
				<if test="sign != null and sign != ''">sign=#{sign}, </if>
				<if test="status != null and status != ''">status=#{status}, </if>
				<if test="createAdmin != null and createAdmin != ''">createAdmin=#{createAdmin}, </if>
				<if test="createTime != null and createTime != ''">createTime=#{createTime}, </if>
				<if test="updateAdmin != null and updateAdmin != ''">updateAdmin=#{updateAdmin}, </if>
				<if test="updateTime != null and updateTime != ''">updateTime=#{updateTime}, </if>
			</trim>
		</set>
		<where>
			<trim suffixOverrides="and">
				<if test="id != null and id != ''">id=#{id} and </if>
			</trim>
		</where>
	</update>

	<resultMap id="resultMap" type="Allergy">
		<id property="id" javaType="java.lang.String" column="id"/>
	    <result property="id" javaType="java.lang.String" column="id"/>
	    <result property="patient" javaType="java.lang.String" column="patient"/>
	    <result property="history" javaType="java.lang.String" column="history"/>
	    <result property="allergen" javaType="java.lang.String" column="allergen"/>
	    <result property="sx" javaType="java.lang.String" column="sx"/>
	    <result property="medicine" javaType="java.lang.String" column="medicine"/>
	    <result property="allergyStatus" javaType="java.lang.String" column="allergyStatus"/>
	    <result property="serious" javaType="java.lang.String" column="serious"/>
	    <result property="sign" javaType="java.lang.String" column="sign"/>
	    <result property="status" javaType="java.lang.String" column="status"/>
	    <result property="createAdmin" javaType="java.lang.String" column="createAdmin"/>
	    <result property="createTime" javaType="java.util.Date" column="createTime"/>
	    <result property="updateAdmin" javaType="java.lang.String" column="updateAdmin"/>
	    <result property="updateTime" javaType="java.util.Date" column="updateTime"/>
	</resultMap>
</mapper>